*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Sezione header + nav */

header{
    height: 70px;
    padding-top: 15px;
}

.flex-row{
    display: flex;
    justify-content: space-between;
}

span + span, img + span{
    margin: 0 10px;
}

button{
    padding: 10px;
    background-color: #0061FF;
    color: white;
    border: none;
}

/* Prima section */

#uvp-section{
    background-color: #B3CFE7;
}

.content-center{
    width: 60%;
    margin: 0 auto;
}

.title{
    font-size: 2.5em;
    margin-bottom: 30px;
    padding-top: 50px;
}

.text-jumbo{
    flex-basis: 28%;
}

.jumbo{
     flex-basis: 70%;
} 

.jumbo > img{
    width: 110%;
    margin-bottom: -50px;
}

.text-jumbo > i{
    font-size: 2.0em;
    margin-bottom: 10px;
}

/* Main section */

main{
    padding-top: 100px;
}

main > div > h2,
main > div > input{
    margin-bottom: 40px;
}

main > div > h2{
    font-size: 2.0em;
}

.column > div{
    flex-basis: 30%;
    border: 1px solid lightgray;
}

.rectangle{
    border-bottom: 1px solid lightgray;
    text-align: center;
}

.padding{
    padding: 30px 20px;
}
.column li{
    list-style: none inside;
}

.big-btn{
    width: 100%;
}

.align-txt-center{
    text-align: center;
}

.column > div > hr{
    width: 60px;
    margin-left: 20px;
}

.fa-check{
    color: #0061FF;
}

.border{
    border: 1px solid lightgray;
    margin-top: 50px;
}

.container-enterprise{
    flex-basis: 78%;
}

.container-btn{
    flex-basis: 20%;
    margin: 30px 20px 0 0;
}

/* Sezione intermedia(partner) */

.intermediate{
    margin: 100px auto;
}

.intermediate > div{
    display: inline-block;
    width: 49%;
    vertical-align: middle;
}

.intermediate div:last-child{
    padding-left: 80px;
}

.intermediate > div > img{
    width: 100%;
}

#partner-btn{
    background-color: white;
    color: grey;
    border: 1px solid grey;
}

/* Sezione card explain */

.card{
    margin-bottom: 100px;
}

.card > h2{
    margin-bottom: 60px;
    font-size: 1.8em;
}

.card > div{
    display: inline-block;
    width: calc(88% / 3);
    margin: 0 15px 15px 15px;
}

.card > div > img{
    width: 100%;
}